[2015-11-16 23:23] patriksvensson opened #1 "Add link to marketplace when public"

[2015-11-17 12:45] devlead opened #2 "Download nuget tool"
Currently the task doesn't fetch nuget.exe, it should as most script depend on that.

[2015-11-17 12:46] devlead opened #3 "Build return success / fail"
Currently build gets reported as success in VSO regardless of cake.exe return code.

[2015-11-17 15:07] devlead opened #4 "Add option to specify Cake nuget source"
I.e. if want to run from the MyGet nightly feed.

[2015-12-10 08:34] devlead commented on #3
Fixed in  97b2b17ef438f3fa825472ee227ac29d124330d4 @patriksvensson patriksvensson committed 22 days ago

[2015-12-10 08:34] #3 closed

[2015-12-10 08:36] devlead commented on #2
Fixed in 1753e61b134004394f8df9a35db2085eed8aeff0

[2015-12-10 08:36] #2 closed

[2016-06-21 12:27] gep13 opened #5 "Team Services extension for cake cant find nuget.exe"
@robgha01 commented on [Mon Jun 20 2016](https://github.com/cake-build/cake/issues/993)

Hi

i get this in a team service build i just created for the first time with "https://marketplace.visualstudio.com/items?itemName=cake-build.cake"

but it throws this error

Starting task: Cake
******************************************************************************
Executing the powershell script: C:\L

[2016-06-21 12:31] gep13 commented on #5
@robgha01 based on the Cake.ps1 file that you can find here:  https://github.com/cake-build/cake-vso/blob/develop/Task/Cake.ps1#L34 The only reason that the nuget.exe wouldn't be downloaded is if it already exists.

@patriksvensson any thoughts on why this would happen?

[2016-06-21 12:32] gep13 commented on #5
Full gist of the build output can be found here: https://gist.github.com/robgha01/9261fcfccf8201b2d03532866ae6ce1c

[2016-06-21 12:34] gep13 commented on #5
@robgha01 can you confirm the folder structure that you are using?  Can you provide a screenshot?  I think I might know what the issue is.

[2016-06-21 12:38] robgha01 commented on #5
@gep13  this is the folder structure i use for my projects ![image](https://cloud.githubusercontent.com/assets/362726/16229559/9db985e6-37bd-11e6-8d54-4e33aa2df170.png)

and the build folder content is
![image](https://cloud.githubusercontent.com/assets/362726/16229574/b81d66fa-37bd-11e6-8e8d-cda06c015786.png)

[2016-06-21 12:41] robgha01 commented on #5
the content of build.module.cake if needed
[build.module.cake.zip](https://github.com/cake-build/cake-vso/files/325585/build.module.cake.zip)

i call it like this
![image](https://cloud.githubusercontent.com/assets/362726/16229699/30ba015e-37be-11e6-9f85-69b71b1fa749.png)

[2016-06-21 12:42] gep13 commented on #5
@robgha01 ok, I think I see what the problem is, but also, the extension perhaps needs to be altered to handle it, but not sure how it would need to be changed.

There is an assumption that the build.cake file is at the root of the repository, or at least, it should be at the same location as the tools folder that is created as part of the bootstrapper script that the extension is using, i.e. the

[2016-06-21 12:42] devlead commented on #5
@gep13 currently nuget.exe path isn't set to `$ENV:NUGET_EXE = $NUGET_EXE` or adding `$ENV:path` in [Cake.ps1](https://github.com/cake-build/cake-vso/blob/develop/Task/Cake.ps1), could be that something has changed in VSTS.
Also linked used might be depreciated, should use one of those avail [here](https://dist.nuget.org/index.html)

[2016-06-21 12:49] robgha01 commented on #5
@gep13 yes it seams to work if i have the cake file in the root howerver i get other errors but its not strange as i dide not alter the "../" root variable but it dide find nuget this time. :/ is it possilbe to make this work with the build map witout having to manualy create a powershell script to download the nuget.exe ?

[2016-06-21 12:51] gep13 commented on #5
Yes, that is certainly the intention.  I definitely think some work is required within the extension to make it work the way that it is intended.  Perhaps the suggestions that @devlead has made can be combined to make the solution better.

[2016-06-21 12:52] gep13 commented on #5
@devlead could we make use of a cake.config file to specify the location of the tools folder as one level higher in the build folder hierarchy?

[2016-06-21 12:53] robgha01 commented on #5
@gep13 well it sounds like it could be done like that im however very new with the whole cake build project so i only know a little about it :)

[2016-06-21 12:56] gep13 commented on #5
@robgha01 ok, give this a try...

Put the build.cake file back where it was.  Create a new file called cake.config, and put the following into it:

[code]

And try running it again, without the extra *.ps1 file, and let us know how you get on.

This was based on the documentation here:

http://cakebuild.net/docs/fundamentals/default-configuration-values

[2016-06-21 12:59] gep13 commented on #5
@robgha01 _NOTE:_ the cake.config should be placed beside the build.cake file.

[2016-06-21 13:04] robgha01 commented on #5
@gep13 it dide not work here is the log i got https://gist.github.com/robgha01/2681e5490583d79307da9d4f61e4c92b

[2016-06-21 13:05] gep13 commented on #5
@robgha01 ok, I am going to need to look at this later, need to get back to work work just now.  I will try to look at this later tonight.

[2016-06-21 13:06] robgha01 commented on #5
@gep13 ok, :+1:

[2016-06-21 13:20] patriksvensson commented on #5
@robgha01 Can you post the output of the build with diagnostic verbosity?

[2016-06-21 13:24] robgha01 commented on #5
@patriksvensson here is the gist https://gist.github.com/robgha01/6ee451bb295c7cd668ea03759efae8b4

and settings i used
![image](https://cloud.githubusercontent.com/assets/362726/16230944/2fe19944-37c4-11e6-966a-7e457c49fdfa.png)

[2016-06-21 13:25] patriksvensson commented on #5
@robgha01 My mistake. Read the log wrong. Thanks for clearing this up :smile:

[2016-06-21 13:26] robgha01 commented on #5
@patriksvensson ok no problem :+1:

[2016-06-23 06:29] gep13 commented on #5
@robgha01 just to keep you up to date on this one...

Myself @patriksvensson and @devlead were looking into this issue last night.  We have found at least one issue with how Cake is looking for the cake.config file which prevented the initial suggestion from working, and a PR has been raised here: https://github.com/cake-build/cake/pull/1003 to correct that.  In addition, we think that there are s

[2016-06-23 06:30] gep13 commented on #4
@devlead I had the same idea last night, and I came here to create this exact issue :+1:

[2016-06-23 06:31] gep13 commented on #1
@patriksvensson what was this referring to?  Do you mean a link in a readme.md that goes off to the marketplace?

[2016-06-23 06:40] patriksvensson commented on #1
@gep13 I think that I was thinking of a repo link.

[2016-06-23 11:04] robgha01 commented on #5
@patriksvensson @devlead Ok, that sounds great :) :+1:

[2016-06-23 18:09] gep13 opened #6 "Add Project Readme"

[2016-06-23 21:51] patriksvensson commented on #5
I've spoken with @gep13 and we have a solution to the problem. By providing the bootstrapper's tool path via the `--paths_tools` argument, Cake will always look in the same place for tools.

[2016-06-23 23:08] patriksvensson opened #7 "Tidy up Cake.ps1"
It's kind of untidy at the moment.

[2016-06-24 11:34] robgha01 commented on #5
@patriksvensson ok, that sounds great will this override be created for the team service cake extension to ? :+1:

[2016-06-24 11:35] patriksvensson commented on #5
@robgha01 This override will only be added to the team service cake extension.

[2016-06-24 19:04] #5 closed

[2016-06-24 19:46] gep13 commented on #5
@robgha01 I have just pushed the new version of this extension, version 0.1.7, can you please give it a try, and let us know how you get on? Thanks!

[2016-06-25 18:54] gep13 commented on #1
Done.

[2016-06-25 18:54] #1 closed

[2016-06-25 19:00] gep13 opened #9 "Add basic build script"
Based on the current manual steps in the release process.

[2016-06-25 19:05] #6 closed

[2016-06-25 19:06] gep13 opened #11 "Add GitHub Issue and PR Templates"

[2016-06-25 19:09] #11 closed

[2016-06-25 19:10] gep13 opened #12 "Add other setup/repository files"
* editor.config
* contributing
* gitreleasemanager.yaml
* etc

[2016-06-25 19:14] #12 closed

[2016-06-25 19:32] #7 closed

[2016-06-25 19:51] #9 closed

[2016-06-25 21:08] patriksvensson opened #14 "Add support for non-Windows agents"
Right now only Windows agents are supported. We should add support for non-Windows agents as well.

[2016-06-26 20:39] gep13 opened #15 "Add Cake.Tfx into build script"
To allow the creation of the VSIX file.

[2016-06-26 20:46] gep13 commented on #15
@patriksvensson I have the extension pretty much there, just need to tidy up a few things. Would be interested in your thoughts on it: https://github.com/gep13/Cake.Tfx Thanks!

[2016-06-26 20:59] patriksvensson commented on #15
@gep13 Sure, I'll have a look :smile:

[2016-06-28 14:43] robgha01 commented on #5
@gep13 i have to wait as i ran out of build time.

[2016-07-11 21:02] gep13 commented on #5
Not a problem at all, just when you have time.

[2016-07-19 10:47] dachibox opened #16 "VSTS integration fails passing Argument"
### What You Are Seeing?
I'm trying to zip an Universal Windows Platform AppPackage. But passing -zipDir:"$(Build.BinariesDirectory)\" fails on vsts. Locally just works.
### What is Expected?

### What version of Cake are you using?
Version 0.13.0+Branch.main.Sha.f7346f2a5fb4e19a24cf15780ce635529f921be4
### Are you running on a 32 or 64 bit system?
64 bit system locally
### What environment are yo

[2016-07-19 11:35] gep13 commented on #16
@dachibox just to confirm, what version of the VSTS extension are you using?

[2016-07-19 13:03] soydachi commented on #16
I'm not sure where to look for the version but the extension was installed before 09/06/2016 if helps.

[2016-07-19 19:58] devlead opened #17 "PowerShell bootstrapper MD5 check of packages config not supported by earlier versions of PowerShell"
See cake-build/resources#8

[2016-07-19 20:12] #17 closed

[2016-07-20 13:48] RyannosaurusRex commented on #16
Same issue for me.  I added the Cake extension yesterday (20/07/2016).  When I add the following Cake arguments, they are not passed in.  However, it does seem that the $ sign does come through sometimes.

The BuildScriptsDirectory parameter comes through fine, but the others do not.

[code]

I'm using the hosted VSTS.  My build agent is on-prem.

Workaround: A similar powershell script that passe

[2016-07-20 14:02] gep13 commented on #16
@RyannosaurusRex thanks for reaching out!

I am not "that" familiar with VSTS, and as a result, I am not grasping the entire use case here.  Where do the following come from:
- `${MajorVersion}`
- `${MinorVersion}`
- `${PatchNumber}`

Are those coming from VSTS?

Also, where is `$(build.artifactstagingdirectory)` coming from?  Is the hope that these values will be resolved, prior to executing the

[2016-07-20 14:07] RyannosaurusRex commented on #16
@gep13 They come from the "Variables" tab in the build definition in VSTS.  For other build steps, ${} is the convention to inject variables from this tab into build steps.

Here's more on them, since there are some predefined (like $(build.artifactstagingdirectory): https://www.visualstudio.com/docs/build/define/variables

[2016-07-20 14:10] RyannosaurusRex commented on #16
Actually, the major/min/patch that I posted had {} in them, which doesn't pull them through, since they should be () instead.  That doesn't work on the PS or Cake, as expected.  In changing it, they still come through as the argument's default parameter in the Cake step.

[2016-07-20 14:14] gep13 commented on #16
@RyannosaurusRex is it possible that you can show the Diagnostic log from your Build, in the same way that @dachibox did?  I wanted to check something.  Thanks!

[2016-07-20 14:20] gep13 commented on #16
@dachibox actually, just looking at your situation...

You seem to have a build.ps1 file, but I don't see how you are expecting that you be used.  When you use the VSTS extension, you don't want/need an external bootstrapper file.  The VSTS Task itself has a bootstrapper contained within it.  This should still pass on the additional arguments that you want though, so not sure why that part isn't w

[2016-07-20 14:22] RyannosaurusRex commented on #16
Ok, yea, in the Cake task, I call build.cake directly.  The build.ps1 is only used in the Powershell task, though all the arguments are the same (except -Target, which is in a different spot in each).

[2016-07-20 16:25] soydachi commented on #16
@gep13 yes, I use build.ps1 only locally. I suppose that VSTS cake extension don't need this and are passing on _"Cake Script" -> build.cake_

[2016-07-20 20:05] RyannosaurusRex commented on #16
@gep13 @dachibox One difference I can see, is that my build.ps1 file accepts script arguments as a type of:

[code]

Where cake-vso's Task/Cake.ps1 file is a single string:

[code]

Other than that, both powershell files accept the arguments and pass them on directly to the build.cake file.  Could it be as simple as updating that type?  I don't see any other differences right off hand.

[2016-07-20 20:16] gep13 commented on #16
@RyannosaurusRex you could be right.  I am not going to be in a position to do anything with this tonight, but I try and have a look tomorrow lunch time.  I will let you know if I get anywhere.

[2016-07-20 20:28] RyannosaurusRex commented on #16
No problem, it's not pressing for me since there's a workaround.  Thanks for your work on this plugin!

[2016-07-21 11:51] gep13 commented on #16
@dachibox ok, for your issue, I think the issue is as simple as changing from this:

[code]

to:

[code]

I have just done this here:

![image](https://cloud.githubusercontent.com/assets/1271146/17021737/c88a3798-4f41-11e6-8da3-5a002f16043f.png)

And the command that is executed is this:

[code]

And the output was this:

[code]

Where you can see that I am outputting the zipDir variable directly

[2016-07-21 12:05] gep13 commented on #16
@RyannosaurusRex hmm, I am also not clear if I can reproduce your issue :cry:

I have run ran this:

![image](https://cloud.githubusercontent.com/assets/1271146/17021960/3f8755aa-4f43-11e6-86f7-4d33ec220168.png)

Where the Cake Arguments are:

[code]

And I have the following variables set up:

![image](https://cloud.githubusercontent.com/assets/1271146/17021973/5d0164f4-4f43-11e6-914a-b6a443e8159

[2016-07-22 04:01] dennisroche opened #19 "build.cake fails with tool installation using vso extension, works using bootstrapper"
### What You Are Seeing?

An error when installing a tool when running `build.cake` via VSTS extension. `Error: Cake.Core.CakeException: Failed to install tool 'GitVersion.CommandLine'.`
### What is Expected?

`build.cake` to execute the _same_ if executed using the `build.ps1` bootstrapper. Using `build.ps1` on the build agent executes as expected.
### What version of Cake are you using?

[code]

[2016-07-22 12:27] gep13 commented on #19
@dennisroche hmm, I am not able to reproduce this issue...

[code]

I am NOT using a nuget.config file, as the issue that you reference was actually closed in version 0.1.7.

Have you tried this without using a nuget.config file?

[2016-07-22 12:28] gep13 commented on #19
This is the project that I used for testing...

https://github.com/gep13/CakeVstsTest/blob/master/Build/build.cake

[2016-07-22 14:31] dennisroche commented on #19
@gep13 thanks for taking the time to look at this

Removing the `nuget.config` from the `tools/` folder, results in

[code]

I do have another `nuget.config` in the root of the repository, next to the `build.cake`.

[code]

If I remove this `nuget.config`, it then works on VSTS.

As I'm using a private nuget feed, I do need to have this root `nuget.config`.

[2016-07-22 14:45] gep13 commented on #19
@devlead can you add anything to this one?

@dennisroche when you say you are using a private nuget feed, can you confirm for which part of the build process that is for?

[2016-07-22 14:51] dennisroche commented on #19
the private feed is for our own nupkg's that developed internally - these are pulled in during the `dotnet restore`. it shouldn't be impacting the `build.cake`.

[2016-07-22 14:53] gep13 commented on #19
Agreed, I am not entirely clear on what is going on here.

For now, any reason to not set the sources on the DotNetCoreRestoreSettings class, as per this example:

http://cakebuild.net/api/cake.common.tools.dotnetcore/df2c8647/7df943ec

[2016-07-22 15:09] dennisroche commented on #19
That would work on VSTS, however would break the tooling in VS2015, i.e. wouldn't be able to add update packages from our feed. I could ask the team to manually add the feed to VS2015.

I have a decent workaround using the `build.ps1`, skipping the VSTS Cake extension.

[2016-07-22 15:46] gep13 commented on #19
What workaround?

[2016-07-22 23:19] dennisroche commented on #19
Running the bootstrap `build.ps1` provided by Cake in PowerShell VSTS step.

[2016-08-29 11:56] soydachi commented on #16
@gep13 I just try this issue out and have the same problem.

2016-08-29T11:42:40.4678786Z C:\a\1\s\tools\Cake\Cake.exe "C:\a\1\s\build.cake" -target="Zip-Package" -verbosity="Diagnostic" --paths_tools="C:\a\1\s\tools" -zipDir="C:\a\1\b"

2016-08-29T11:42:44.8638808Z Executing task: Zip-Package
2016-08-29T11:42:44.8748867Z ##[error]An error occured when executing task 'Zip-Package'.
2016-08-29T11:4

[2016-08-29 12:07] gep13 commented on #16
@dachibox ok, but based on the log that you are showing me, it is now at least taking the ZipDirectory path that you are passing in, right? i.e. `C:\a\1\b`

[code]

So it is no longer taking the default value from the `Argument` definition.  So I think we are getting closer, right?

[2016-08-29 12:10] gep13 commented on #16
@dachibox **NOTE:** The trailing slash that I put onto the end of the my zipDir argument.  Probably best to use [this](http://cakebuild.net/api/cake.core.io/38f83116/fdf803d1) to combine directory paths, so that you don't need to worry about rationalizing slashses.

[2016-08-29 12:45] soydachi commented on #16
Great @gep13! now works! and yes, the error was returning que correct value. Thank's for all. This issue can be closed :)

greetings!

[2016-08-29 13:42] gep13 commented on #16
@dachibox woot! Glad to hear that it is working for you now :smile:

[2016-08-29 13:42] #16 closed

[2016-09-11 19:54] #15 closed

[2016-09-11 21:15] gep13 commented on #4
@devlead do you remember what the thought process here was again?  It completely escapes me 😄

[2016-09-11 21:18] gep13 opened #21 "Update readme to remove reference to VSO"
Since it is now referred to as VSTS.

[2016-09-11 21:22] gep13 opened #22 "Adding GitHub Release Publishing"
The Cake Task is there, but it isn't currently hooked up to anything.

[2016-09-11 21:24] #22 closed

[2016-09-11 21:26] #21 closed

[2016-09-11 21:37] gep13 opened #23 "Fix GitHub Release Publishing"
[code]

[2016-09-12 06:55] gep13 opened #24 "Update to latest Cake.Tfx"

[2016-09-12 06:58] #24 closed

[2016-09-12 07:09] #23 closed

[2016-09-12 20:40] gep13 opened #25 "Update to latest GRM"
To see if the change in File.Open prevents the build from failing.

[2016-09-12 20:49] #25 closed

[2016-09-12 20:50] gep13 opened #26 "Reduce amount of logging from NPM"
What is there just now is almost unusable.

[2016-09-12 20:54] #26 closed

[2016-09-12 21:00] gep13 opened #27 "Update to latest Cake"
Currently build is using 0.13.0.

[2016-09-14 06:26] gep13 opened #28 "Add Diagnostic Verbosity when running on Master Branch"
Similar to what is done on Main Cake Repo.

[2016-09-14 06:28] #27 closed

[2016-09-14 06:31] #28 closed

[2016-10-19 08:52] rj-cooper commented on #4
@gep13 @devlead - This sounds like the same issue I'm having (see below) - if it is I may have a fix that I could raise a PR for if you are interested?

[2016-10-19 08:54] gep13 commented on #4
@frozenskys PR's are always welcomed 😄

[2016-10-19 08:56] frozenskys opened #29 "Test Results upload to TFS"
Anyone interested in having cake-vso have an option to upload test results and coverage into TFS without having to use another build step? I'm looking at developing a basic version of this for our internal process and was wondering if it would be helpful for others.

[2016-10-26 05:32] Franklin89 opened #31 "Add support to override build agent NuGet version"
Had the issue on VSTS when i tried to use this extension that a nuget package required a higher nuget client version. Using the powershell integration and running build.ps1 downloaded the latest nuget and the build was successful.

As mentioned on the gitter chat overriding this behavior might be a good solution.

[2016-10-26 07:22] gep13 commented on #31
@Franklin89 sounds like a good idea to me.  Would you be in a position to do a PR to implement this feature?

[2016-10-26 07:34] rj-cooper commented on #31
Sounds like the same thing I came across earlier - there is a PR for it (https://github.com/cake-build/cake-vso/pull/30) but I'm having to wait for legal to OK me to sign the CLA.

[2016-10-26 09:53] Franklin89 commented on #31
In your PR you can only set the nuget.exe location. I was thinking of something like a selection of "use build agent nuget version" or "use latest nuget version"?

Edit:
Oh i see you could also pass the url and i will be downloaded...

[2016-10-26 10:25] rj-cooper commented on #31
It might be worth adding the option to use a nuget.exe already installed on the build agent. Is there a way to find the path to this?

_Edit:_ The vsts-tasks NugetPackager uses

[code]

So we could add an advanced setting for `☑️ Use Build Agent Nuget` which would resolve to something like

[code]

If that's not checked then fall back to downloading from location provided in NuGet Location or the

[2016-10-26 10:51] Franklin89 commented on #31
Sounds like a good idea to me :-)

[2016-10-26 12:31] rj-cooper commented on #31
Like this:
![screenshot_4](https://cloud.githubusercontent.com/assets/28024/19725939/65a96924-9b80-11e6-987a-2fb6a25d2930.png)

[2016-10-26 15:41] Franklin89 commented on #31
In your PR you can only set the nuget.exe location. I was thinking of something like a selection of "use build agent nuget version" or "use latest nuget version"?

Sent from my iPhone

[2016-10-26 15:47] devlead commented on #31
Well empty could be nuget in path / build system.

This world give you latest
https://dist.nuget.org/win-x86-commandline/latest/nuget.exe

And you can also pin a version
https://dist.nuget.org/win-x86-commandline/v3.3.0/nuget.exe

Or use one hosted somewhere else, so think this is a very flexible solution.

See below for reference (nuget.org/nuget.exe isn't recommended anymore)
https://dist.nuget.

[2016-10-26 15:52] rj-cooper commented on #31
Do you think it's better to default the `https://nuget.org/nuget.exe` in the UI like I have, or default the UI to empty and do the defaulting behind the scenes (like I have with the `Tool Feed URL`) ?
Either way it's probably better to be consistent with the `Nuget Location` and `Tool Feed URL`

[2016-10-26 15:54] devlead commented on #31
What's the current behavior?

[2016-10-26 18:40] rj-cooper commented on #31
Current behavior is that within the cake-vso task powershell there is the following

[code]

So by default there is no UI to change the location - it's just hard coded. The original PR https://github.com/cake-build/cake-vso/pull/30 adds the UI by adding an input to the task.json which has a defaultValue e.g.

[code]

![screenshot_5](https://cloud.githubusercontent.com/assets/28024/19739689/dc3b316

[2016-10-26 18:45] devlead commented on #31
Agree empty is nicer, we should document those defaults though.

[2016-10-26 18:50] rj-cooper commented on #31
Agreed - I'll add it to the extension-details.md and the hover over help.

[2016-11-02 10:33] fleed opened #32 "Cake.ps1 doesn't download the latest nuget"
Cake.ps1 is downloading nuget.exe using the address `https://nuget.org/nuget.exe`, which returns an old version (`2.8.60717.93`).

The `build.ps1` script that it is added using the `Visual Studio Extension` bootstraps downloading from `https://dist.nuget.org/win-x86-commandline/latest/nuget.exe`, which returns the latest version.

Shouldn't Cake.ps1 download the latest version, unless differently

[2016-11-02 20:31] rj-cooper commented on #32
@fleed this should be fixed as part of PR https://github.com/cake-build/cake-vso/pull/30

[2016-11-03 04:52] fleed commented on #32
@frozenskys thanks, that looks exactly what's needed and I can close this issue.

[2016-11-03 04:52] #32 closed

[2016-11-03 15:11] jnm2 opened #33 "Break the output of a single cake build step into multiple build output sections"
When you convert TFS build steps to Cake, you end up removing individual steps in TFS and replacing them with a single Cake step.

The single build step is nice but I don't want to give up the ability to see timings and sections of the build output for restoring nuget packages, for msbuild, for testing, and any other Cake targets.

[2016-11-03 15:12] gep13 commented on #33
Issue moved to [cake-build/cake #1340](https://github.com/cake-build/cake/issues/1340) via [**ZenHub**](https://www.zenhub.com/)

[2016-11-03 15:12] #33 closed

[2017-02-20 16:29] trailmax opened #34 "Old nuget.exe version"
In my VSTS build I've encountered a build error:

##[error]The 'xunit.runner.console 2.2.0' package requires NuGet client version '2.12' or above, but the current NuGet version is '2.8.60717.93'.

So nuget.exe is version. And it is provided by the plugin, not VSTS server - see the path - it is taking `../tools/nuget.exe`. And looking on the plugin source, this [line is probably the cause](https://

[2017-02-20 16:31] trailmax commented on #34
Oh.. I see there is work in progress for this already: https://github.com/cake-build/cake-vso/pull/30

[2017-02-28 21:28] ivoloshin opened #35 "Build script started to fail on installing #addins"
### What You Are Seeing?

On our build server everything worked fine until recently, when I started to get the following error:

[code]

### What version of Cake are you using?

VSTFS Plugin Cake 0.2.4
Cake 0.17.0

### Are you running on a 32 or 64 bit system?

64bit

### What environment are you running on?  Hosted? Custom?

Windows Server 2012 TFS Build Client

### How Did You Get This To Happen

[2017-03-01 14:41] ivoloshin commented on #35
So, something to add. The script ran again and failed. Then I re-queued it and it succeeded. It would be helpful if anyone knew why it would fail randomly with such an error. Definitely seems related to nuget, but I'm not sure how it's affecting it.

[2017-03-01 14:49] devlead commented on #35
Was it the same agent? Sme version of nuget.exe for both?

[2017-03-01 14:54] ivoloshin commented on #35
Yes, nothing changed with the location or agent. Yesterday it errored until I replaced Cake.ps1 file. I thought that fixed it, but I didn't run a diff on the two cake files. Today it errored only the first time.

[2017-03-14 14:39] agc93 commented on #31
Fixed by #30

[2017-03-14 14:39] #31 closed

[2017-03-14 14:51] agc93 commented on #4
Resolved by #30

[2017-03-14 14:51] #4 closed

[2017-03-14 14:51] agc93 commented on #34
Similar issue to #31

Fixed by #30

[2017-03-14 14:51] #34 closed

[2017-04-18 20:25] gep13 opened #36 "Add Twitter and Gitter notifications to build script"
Similar to what has been done for the main Cake repository

[2017-04-19 12:43] agc93 commented on #31
Updated extension is now live [on the VS Marketplace](https://marketplace.visualstudio.com/items?itemName=cake-build.cake) including support for selecting NuGet version (thanks @frozenskys !).

[2017-04-25 03:11] agc93 commented on #35
@ivoloshin If possible, can you try running this scenario through the Cake extension again? We've updated to 0.3.0 which changes how NuGet gets invoked during the build.

[2017-04-25 19:09] ivoloshin commented on #35
Still same error:

[code]

When running manually, I get the following:

[code]

[2017-04-25 19:15] ivoloshin commented on #35
Seems random. I went into the build folder and deleted tools folder. Then queued up TFS build again and it worked. Not sure what's going on.

[2017-04-28 13:08] jnm2 opened #37 "Restore modules for parity with bootstrapper"
The Cake extension 0.3.0 does not restore modules. It should handle restoring `tools\Modules\packages.config` just like it already does with `tools\packages.config`.

https://github.com/agc93/Cake.BuildSystems.Module/blob/master/README.md#using-the-latest-bootstrapper recommends using the convention of `tools\Modules\packages.config`, just like we've always done with `tools\packages.config`.

The

[2017-04-28 13:40] agc93 commented on #37
Thanks for the report @jnm2 I'd been thinking about this lately as well for obvious reasons!

As an aside, a "better" workaround would be to add a NuGet Installer step immediately before the Cake step and point it at your `tools/Modules/packages.config` folder.

![screenshot from 2017-04-28 23-36-08](https://cloud.githubusercontent.com/assets/1369269/25531100/f3cbb5c8-2c6b-11e7-85a7-28d93e80d6fe.p

[2017-05-24 15:38] mabreuortega opened #38 "Errors when using Cake Step from the Release Management"
### What You Are Seeing?

The step execution is failing during the Cake.ps1 tools resolution

### What is Expected?

To download all the requirement and run, just like when used for the Builds.

### What version of Cake are you using?

v0.3.0

### Are you running on a 32 or 64 bit system?

64 bits

### What environment are you running on?  Hosted? Custom?

Hosted

### How Did You Get This To Happe

[2017-05-29 11:17] devlead opened #39 "Visual Studio Online - Cake Task failure not failing build"
@volak commented on [Mon May 29 2017](https://github.com/cake-build/cake/issues/1617)

### What You Are Seeing?

I'm using cake and in the process of moving to VSTS for builds - and it seems the cake task from the market place: https://marketplace.visualstudio.com/items?itemName=cake-build.cake
Is not passing errors to the build? Even when cake throws a build exception the build succeeds - as note

[2017-05-29 11:18] devlead commented on #39
@volak  I just created a new VSTS project&repo, then created a minimal cake script like this
[code]
the log looked like this
[code]
and as expected the build succeeded
![image](https://cloud.githubusercontent.com/assets/1647294/26547546/d11cbbe6-446f-11e7-951a-ee2cbe71de9b.png)

then added a throw to the script like this
[code]
the log then looked like this
[code]
and the build failed
![image](htt

[2017-05-29 11:40] charlessolar commented on #39
Thanks for taking a look
Here's my example: https://github.com/volak/cake.test

Without the VSTS specific command stuff the build fails.  But once I added the extra logging in teardown the build succeeds.
Maybe this is expected behavior I'm not sure, I don't see why commands.WriteError or checking !Success would eliminate the exception itself

[2017-05-29 11:45] devlead commented on #39
Should there be a failed scenario here?
https://github.com/volak/cake.test/blob/master/build.cake#L79-L82

[2017-05-29 11:48] devlead commented on #39
Also perhaps what you're trying to achieve might already be avail in @agc93 [Cake BuildSystems Module](https://github.com/agc93/Cake.BuildSystems.Module)

[2017-05-29 11:49] charlessolar commented on #39
That's interesting!  I guess you might be right sending success there overrides the thrown exception in VSTS.
However - ITaskTeardownContext doesn't seem to contain any way to tell if the task failed... maybe I missed it?

Edit: Seems like he has the same problem https://github.com/agc93/Cake.BuildSystems.Module/blob/develop/src/Cake.TFBuild.Module/TFBuildEngine.cs#L63
but maybe his reporting is b

[2017-05-29 11:57] devlead commented on #39
Haven't tried so unsure. Could be that you have to complete any non completed tasks [here](https://github.com/volak/cake.test/blob/master/build.cake#L53)

[2017-05-29 11:59] gep13 commented on #39
but maybe his reporting is better on failure Ill try this out if I can figure out how to get it installed without checking in the tools directory

You shouldn't need to check in the tools directory, but you will need to check in the packages.config files, so that the required components can be restored during initialization.

[2017-05-29 12:03] charlessolar commented on #39
@devlead you are 2 for 2 - adding the failed task reporting fixed it.

@gep13 thanks for chiming in - ill definitely check out the project its just installed in a weird way I don't quiet understand after an all nighter.  Im spoiled with #addins and #tools.

[2017-05-29 12:06] gep13 commented on #39
ill definitely check out the project its just installed in a weird way I don't quiet understand after an all nighter. Im spoiled with #addins and #tools.

Ha ha, totally understand!

Due to the fact that Modules are altering the internals of Cake (by overriding/extending built in functionality) they need to be loaded very early in the execution of Cake.  Using the packages.config file in Modules f

[2017-05-29 12:52] charlessolar commented on #39
@gep13 probably not a big deal - but `build.sh` is checking for packages.config under `modules` not `Modules` as noted in the readme.
Im just going to rename my folder since case only matters on linux but its a small gotcha

*Edit*
And I could be wrong but its not looking like the cake build from the marketplace is checking the modules directory either (powershell script works though)

*Edit 2*
Sc

[2017-05-29 13:48] gep13 commented on #39
@volak if you could raise an issue in the respective repository, that would be appreciated.

[2017-05-29 14:06] volak opened #40 "Doesn't pull modules into build"
Using the marketplace cake build it doesn't seem to pull the modules from `modules/packages.config` as was added here: https://github.com/cake-build/resources/issues/26

Using powershell or bash to run cake works

(discovered in #39)

[2017-05-29 14:07] charlessolar commented on #39
Both issues are created - feel free to close this one btw you solved it

[2017-05-29 14:09] gep13 commented on #39
Perfect, thank you.

[2017-05-29 14:09] #39 closed

[2017-05-29 14:10] gep13 commented on #39
For reference....

https://github.com/cake-build/resources/issues/31
https://github.com/cake-build/cake-vso/issues/40

[2017-05-31 01:48] agc93 commented on #40
Duplicate of #37

This one's on my todo list, but just hadn't got a chance yet :disappointed:

I'll hopefully get something working soon!

**EDIT**: Also you can use the workaround outlined in #37 to restore packages and still use the "proper" Cake task.

[2017-05-31 01:48] #40 closed

[2017-06-09 20:52] stefandevo commented on #14
Please Please Please !!!!

[2017-06-22 06:19] agc93 opened #42 "Restore addins in bootstrapping phase"
To match the behaviour of the [default bootstrapper](https://github.com/cake-build/resources/blob/develop/build.ps1), the `Cake.ps1` task script could also restore addins declared in `tools/Addins/packages.config` before `Cake.exe` is run.

[2017-06-22 06:20] agc93 commented on #42
Given `Cake.exe` already supports declaring addins and tools using the `#tool`/`#addin` syntax in the script, the task script doesn't need this step. Dependencies declared using `#tool` and `#addin` will be automatically installed and also supports more advanced features like the `include` parameter.

Additionally, it's possible to achieve this same effect using a ***NuGet Restore*** step in the b

[2017-06-22 06:20] #42 closed

[2017-06-22 06:22] agc93 commented on #37
I've updated this issue to be specific to module restore (as per @gep13's comments), as this will be resolved by #41

I've created a separate issue for the handling of the addins restore, which we won't be adding at this time, in #42 .

[2017-06-22 06:26] #37 closed

[2017-07-13 10:51] jnm2 commented on #37
Very cool! When should I look for the next release?

[2017-10-18 17:26] ivoloshin commented on #35
So, this random error never went away...
Now it errors with the this component:
`Error: Failed to install addin 'Cake.WebDeploy'.`

[2017-10-26 12:13] mapspiral commented on #35
My build fails with exactly the same issue.

I'm building using a hosted VSTS agent.

[code]

UPDATE: the build continuously fails - it is not random.

UPDATE2:  i was able to fix the issue by checking in a more recent version of nuget.exe and use that one from my cake script.

[2018-02-19 04:59] #19 closed

[2018-02-27 19:42] jnm2 opened #43 "Supporting Cake 0.25's #module directives"
Using Cake 0.25's [`#module` directive](https://cakebuild.net/docs/fundamentals/preprocessor-directives#module-directive) requires invoking Cake twice, the first time with `--bootstrap`.

It appears as though this extension is not doing that. ~~How soon can we expect that?~~ How easy of a change do you think this is—is it something I can help with?

[2018-02-27 19:48] gep13 commented on #43
@jnm2 I might be having a bad day, but let's be clear on something...

This is an Open Source Project, and as such, you can't have any expectations, and if I am being brutally honest, using language such as this doesn't make anyone want to jump onto helping with this.

Now, I am going to go out on a limb, since you are an open source maintainer yourself, that this is just a turn of phrase, and you

[2018-02-27 19:56] jnm2 commented on #43
Oh my goodness, I'm very sorry! You are quite right. 😳 Making someone's day worse is the last thing I want to do, so I'm very glad you took the time to say something. I'll be more sensitive.

[2018-02-27 19:58] gep13 commented on #43
I am very glad to hear that we are on the same page :+1:

[2018-02-27 20:10] jnm2 commented on #43
I think I know what contributes to me rushing to catch up with issues and saying something I didn't realize. I'll catch up on sleep and slow down over here. In the meantime your feedback was thoughtful and I hope you feel free to clue me in if I end up off-base again.

[2018-03-14 09:04] JasonDonnelly commented on #14
Can you do macOS today please ;-)

[2018-05-24 21:10] valdetero commented on #14
Just tried to run it on OSX for Xamarin builds which don't work. Would love for this to be implemented.

[2018-07-03 21:11] Marusyk commented on #14
any news?

[2018-07-03 23:11] valdetero commented on #14
@Marusyk I ended up just kicking it off via command-line.

I added a Command-Line task in my build definition in VSTS/TFS for ./build.sh and passed it these arguments: `--script mobile.cake --target=My-Target-To-Build-Mobile --configuration=$(BuildConfiguration)`

Make note that the arguments have different syntax (space vs. equals). This took hours to figure out. Also created a cake file for mobi

[2018-08-17 07:58] sdebruyn commented on #14
Looks like we'd need a Node JS script that kicks off the bash script on MacOS and the PS script on Windows.

Example of a task that runs on Windows, Linux and macOS: https://github.com/Microsoft/vsts-tasks/tree/master/Tasks/ArchiveFilesV2

[2018-09-03 21:05] giggio commented on #14
Wouldn't this be pretty simple now that Cake has .NET Core support? All you need on the agent is the global tool installed.

[2018-12-16 01:06] bonesoul opened #45 "UpdateBuildNumber not executed when using Azure Devops - Cake task"
### What You Are Seeing?

Once the cake job is completed over azure pipelines, it does not update the pipeline's build number

### What is Expected?

It should be actually updating the build number. I've tracked this down to;
- If i leave the azure devops .net desktop tasks in the pipeline - even by disabling them, cake vso will update the build number;

[code]

In this case my pipeline config

![

[2018-12-16 01:41] bonesoul commented on #45
i fix this by adding;

[code]

[code]

so i guess somehow the task doesn't call TFBuild.Commands.UpdateBuildNumber itself.

[2019-05-11 04:22] louisfischer commented on #14
This may also work. (I have only tried locally)

Requirements;

1. Powershell Core is installed on Mac/Linux Hosted machine.
2. Add a Cake.sh to the task with the below code.
3. Modify the task.json to execute the Bash Script only on Linux or Mac

[code]

The "$@"  should maybe pass all the arguments from bash script to the powershell script

[2019-05-15 17:55] johncrim commented on #14
I started investigating fixing this issue, and IMO it's not worth the effort to implement the fix (while maintaining backward compatibility), since the `dotnet-cake` tool makes it pretty easy to run cake builds on .NET Core on Linux build agents. Looking at the code for cake-vso, this task is really about bootstrapping Cake, then calling Cake, which is redundant with 'dotnet-cake' (I thought there

[2019-05-16 21:52] devlead commented on #14
This is the one I currently use on Azure DevOps works with Windows/Mac/Linux
[code]

[2019-05-26 01:56] louisfischer commented on #14
@devlead @gep13 @patriksvensson  After doing some more research on [docs.microsoft.com](https://docs.microsoft.com/en-us/azure/devops/extend/develop/add-build-task?view=azure-devops) and the [azure pipelines task repo](https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks), I would like to create a cross platform task. If every is ok with everyone, I will take this on and create a p

[2019-06-14 20:43] richardgavel opened #46 "Support for "Queue with Diagnostics""
In Azure DevOps, you can queue a build or "Queue with diagnostics", which sets a variable "system.debug" to "true". It would be nice if we could define 2 different verbosity levels, one for default and one for when when "with diagnostics" is used. Right now, with YAML based builds, to do an elevated logging level, I have to check in a YAML change.

[2019-07-18 22:30] richardgavel opened #48 "Warning on task execution handler."
I am seeing a warning on the Cake Azure DevOps task (0.3.0) about a deprecated capability:

##[warning]Task 'Cake' (0.3.0) is using deprecated task execution handler. The task should use the supported task-lib: https://aka.ms/tasklib

[2019-07-23 01:08] richardgavel commented on #48
FYI, looks like beyond that it causes a blocking issue as well

##[error]Task 'Cake' is using legacy execution handler 'Microsoft.VisualStudio.Services.Agent.Worker.PowerShellHandlerData' which is not supported in container execution flow.

[2019-07-23 01:15] richardgavel commented on #48
It looks like the key thing that might be needed is to change the task.json to reference the PowerShell3 task execution type (see here https://github.com/rfennell/AzurePipelines/blob/master/Extensions/GenerateReleaseNotes/GenerateReleaseNotesTask/task.json#L193)

[2020-02-27 01:27] #38 closed

[2020-02-27 01:36] #48 closed

[2020-02-27 01:39] gep13 opened #50 "Add ability to post to Twitter/Gitter when a new release is made"

[2020-02-27 02:02] #50 closed

[2020-02-27 02:03] gep13 opened #51 "Update tools/addins versions"
This will be based on what is currently used by Chocolatey AzureDevOps extension.

[2020-02-27 02:08] #51 closed

[2020-02-27 02:08] gep13 opened #52 "Add ability to upload artifacts to AppVeyor"
So that we can test things out if/when required.

[2020-02-27 02:12] #52 closed

[2020-02-27 02:13] gep13 opened #53 "Get project to build on Mac"
This is my main development machine, and therefore I need to be able to test the build here, otherwise it is going to be difficult to support going forward.

[2020-02-27 02:22] #53 closed

[2020-02-27 02:41] gep13 opened #54 "Update to latest GitReleaseManager"
To allow usage of some of the newest features, including posting to closed issues on milestone, and adding SHA's to artifact on GitHub.

[2020-02-27 02:52] #54 closed

[2020-02-27 03:05] gep13 commented on #36
This was duplicated in this issue here:

https://github.com/cake-build/cake-vso/issues/50

[2020-02-27 03:05] #36 closed

[2020-02-27 12:02] tobiashein opened #56 "Azure DevOps pipelines fail with 'Get-ToolPath is not recognized' when using the Cake task in version 0.4.0"
### What You Are Seeing?

As of today all Azure DevOps pipelines using the Cake task (version 0.4.0) are failing with the following message:

2020-02-27T10:37:37.0216971Z ==============================================================================
2020-02-27T10:37:37.0217323Z Task         : Cake
2020-02-27T10:37:37.0217568Z Description  : Build with Cake
2020-02-27T10:37:37.0217812Z Version

[2020-02-27 12:30] tobiashein commented on #56
Sorry, I just noticed that I've opened the issue in the wrong repo. It was meant for https://github.com/cake-build/cake-vso instead. Cake on its own is working fine when run locally.

[2020-02-27 12:56] dustinchilson opened #55 "0.4.0 Breaks when using Using Build Agent nuget.exe"
### What You Are Seeing?
When using `0.4.0` and `useBuildAgentNuGetExe: true`

We receive the error `The term 'Get-ToolPath' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if a path was included, verify that the path is correct and try again.`

### What is Expected?

### What version of Cake are you using?
0.4.0

### Are yo

[2020-02-27 13:11] gep13 commented on #56
@tobiashein that is fine, I will move it over to the correct repository.

[2020-02-27 13:13] gep13 commented on #55
@dustinchilson thanks for reporting this.  This looks to be a duplicate of this issue:

https://github.com/cake-build/cake-vso/issues/56

I am going to go ahead and close out this issue.  If you would like to subscribe to the other issue, and add any additional information that you think would be useful, we can continue over there.

[2020-02-27 13:13] #55 closed

[2020-02-27 13:15] gep13 commented on #56
@tobiashein @dustinchilson so, last night, I pushed out a new release, 0.4.0 (https://github.com/cake-build/cake-vso/releases/tag/0.4.0) which was meant to address a couple of issues that were raised as PR's into this repository, but it looks like something else has broken.

I won't be able to look into this properly until later tonight, but I will.

[2020-02-27 13:23] gep13 commented on #56
I have just run a quick test, and with the following configuration:

![image](https://user-images.githubusercontent.com/1271146/75449006-dc267980-5931-11ea-985a-b47284a3bc99.png)

The result is the following:

![image](https://user-images.githubusercontent.com/1271146/75448935-bac58d80-5931-11ea-8399-1d438d9febe4.png)

Which works as expected.

The issue comes when you use the following:

![image]

[2020-02-27 13:24] gep13 commented on #56
@tobiashein @dustinchilson leave this with me, and I will try to get a fix as soon as possible.

[2020-02-27 13:25] tobiashein commented on #56
Thanks. Looking at #55 made me deactivate that setting, too. My test build is still running, but it's looking fine so far.

[2020-02-27 13:30] dustinchilson commented on #56
Thanks for looking at this.

[2020-02-28 03:05] #56 closed

[2020-02-28 03:20] gep13 opened #57 "Exception calling "DownloadFile" with "2" argument(s): "Value cannot be null."
This happens as a result of the change that was made to fix an issue with using Build Agent version of NuGet.exe.  The test is doing `-eq ""` when it should be doing `-eq $null`.

[2020-02-28 03:26] #57 closed

[2020-02-28 03:38] gep13 opened #58 "Use Token for GRM, rather than username/password"
So that we don't get this in the output:

![image](https://user-images.githubusercontent.com/1271146/75508363-7bd31e80-59a9-11ea-86df-4afdc1d6bf52.png)

[2020-02-28 03:39] gep13 commented on #56
@tobiashein @dustinchilson I believe that this issue should now be resolved.  If you can take the new Task version 0.4.2 for a spin and let me know, I would appreciate it.  Thanks!

[2020-02-28 04:05] gep13 opened #59 "Remove chocolateynuget from Twitter message"
This was a copy/paste from Chocolatey Azure DevOps extension.  This should be replaced with cakebuildnet.

[2020-02-28 06:50] sreeraj-rajendran opened #60 "Exception calling "DownloadFile" with "2" argument(s): "The path is not of a legal form.""
Per the the task configuration, nuget.exe will be downloaded from :  https://dist.nuget.org/win-x86-commandline/latest/nuget.exe  if the :Nuget.exe location" is unspecified.

The task seems to be failing with the error: ##[error]Exception calling "DownloadFile" with "2" argument(s): "The path is not of a legal form." When leaving this to default.

The behavior is the same when we try from a dummy

[2020-02-28 07:35] dannmichelson commented on #60
Hello @gep13 - It looks like the change you made for 0.4.2 is causing this issue. The stack trace we saw is below. It seems like the build task, when we don't specify the location, is still interpreting   `$nugetExeDownloadLocation` as an empty string rather than null, so when you replaced `if($nugetExeDownloadLocation -eq "")` with `if($null -eq $nugetExeDownloadLocation)`, I'm guessing we get a

[2020-02-28 08:16] MO2k4 commented on #60
Hey

i have a change and proposed it as a PR.

i would do a check like this

if (-Not $nugetExeDownloadLocation)

[2020-02-28 08:24] MO2k4 commented on #57
This seems to be still a issue see #60

[2020-02-28 13:24] #59 closed

[2020-02-28 13:24] #60 closed

[2020-02-28 13:38] gep13 commented on #60
@sreeraj-rajendran @dannmichelson @MO2k4 @scott-the-programmer @danieljgmaclean @bkowalczyk88 This issue should now be resolved, with version 0.4.3 of the extension.  Can you please let me know if you are still seeing problems.

Thanks

[2020-02-28 15:56] MO2k4 commented on #60
Looks beautiful again, thanks for your fast response 👍

[2020-02-29 01:25] gep13 commented on #35
@ivoloshin @mapspiral we haven't heard anything on this issue for a while, so I am going to go ahead and close this out.  If you are still seeing an issue, feel free to reply on this issue, and we can investigate further.

[2020-02-29 01:25] #35 closed

[2020-02-29 01:26] gep13 commented on #45
@bonesoul I am going to go ahead and close this out, as I don't think this was an issue with the Cake Extension itself.

[2020-02-29 01:26] #45 closed

[2020-02-29 01:29] gep13 commented on #29
@frozenskys apologies that no-one ever got back to you about this issue, it seems like it has fallen through the cracks.  I am going to go ahead and close this out, but if you wanted to continue with this, please feel free to respond to the issue.

[2020-02-29 01:29] #29 closed

[2020-02-29 01:31] gep13 commented on #14
@louisfischer is this something that you are still interested in looking at?  If not, this is something that I am going to add to my longer term list to take a stab at.

[2020-02-29 01:38] #58 closed

[2020-03-02 13:40] gep13 opened #63 "Release major version of the extension"
As discussed on Gitter...

It's versioned, but because the way Azure DevOps work we should rev major and not minor. Even if you pin version Azure DevOps will automatically silently upgrade minor versions.

[2020-03-02 19:37] louisfischer commented on #14
@gep13 I would still be interested in getting this working. Is the approach in the comment https://github.com/cake-build/cake-vso/issues/14#issuecomment-495961726 still good to proceed with?

[2020-03-03 00:21] richardgavel commented on #63
If you do this, are you thinking of re-releasing what I guess would be the 0.4.1 codebase so that people pinning to 0.x would see the earlier version?

[2020-03-03 02:57] gep13 commented on #63
@richardgavel the current released version is 0.4.3.  There are a couple of enhancements/changes that were originally slated to go into a 0.5.0 release, but I was thinking about changing those to be in the 1.0.0 release, and to ship when they have been added.

Does that make sense?

[2020-03-03 03:00] gep13 commented on #14
@louisfischer that is great that you are still interested in doing this.  In all honesty, I am not sure, I haven't actually given it much thought yet.  I guess it comes down to exactly "what" we want this extension to do.  For example, are we still wanting to target .Net Framework/Mono, or should we switch the Task to execute the .Net Global Tool version of Cake.  Going forward, that is going to b

[2020-03-03 03:25] richardgavel commented on #63
I was asking mainly because I am seeing an issue where when my Cake shells
out to a exe and standard error is getting truncated. This is behaviour
that I've seen with Azure Devops before with their Powershell task (but I
never saw it with the original Cake extension using the legacy Powershell
handler for custom extensions). Probably going to fork this from that last
working version for now.

On M

[2020-03-03 05:12] devlead commented on #14
IMHO global tool should be way forward,  i.e. this GitHub action uses that,  is pure typescript and cross platform, so maybe some inspiration can be taken from it
https://github.com/ecampidoglio/cake-action

[2020-03-03 14:04] gep13 commented on #14
@devlead I had the same thought.

[2020-03-04 13:37] louisfischer commented on #14
@gep13 @devlead Sounds like a good plan to move forward with the .Net Global Tool version of Cake using the Cross Platform. @devlead already provided a starting point with the https://github.com/cake-build/cake-vso/issues/14#issuecomment-493244617 above.  The task will be based on the Node Task instead of the Powershell Task. If that sounds ok, i will get started on it.

[2020-03-04 14:01] devlead commented on #14
@louisfischer yes removing the PowerShell dependency sounds great to me.

[2020-03-05 17:09] richRubie opened #64 "Cake failing when Yarn produces a warning"
### What You Are Seeing?
On Azure DevOps the Yarn task is failing the build when there is a warning.
### What is Expected?
The Yarn task will display the warning and continue
### What version of Cake are you using?
0.37
### Are you running on a 32 or 64 bit system?
64bit
### What environment are you running on?  Windows? Linux? Mac?
windows
### Are you running on a CI Server?  If so, which one?
Az

[2020-03-06 15:43] #64 closed

[2020-03-06 16:49] richRubie commented on #64
Thanks, my build is now working.

[2020-03-08 03:20] louisfischer commented on #14
@devlead @gep13 I have an idea and have started to write some of the node js task to use the the Cake.Tool. The only hard requirement is a version of the .NET Core be installed on the machine the Agent is running on. @devlead, I saw in the script above that you are using a "DotNetCoreInstaller@0" installer task to ensure a version is available prior running the Cake Task.  it seems that dotnet too

[2020-03-08 06:56] devlead commented on #14
I would initially just test that `dotnet` / `dotnet.exe` is present, if not fail the task.

Don't think installing .NET Core is the responsibility if this task, people should just use .NET Core version already avail on agent or use the `UseDotNet@2` task before launching cake task.

[2020-03-08 13:52] louisfischer commented on #14
Sounds like a good plan to me.

[2020-05-20 09:44] TCardosoOS commented on #14
Hi guys,
any news about this ?

[2020-06-16 08:11] medekjak opened #67 "TLS issue"
### What You Are Seeing?
There is an issue in the TFS 2015 plugin 0..4.4. Thanks

2020-06-16T07:41:05.3126623Z ##[section]Starting: Cake
2020-06-16T07:41:05.3316762Z ==============================================================================
2020-06-16T07:41:05.3316762Z Task         : Cake
2020-06-16T07:41:05.3316762Z Description  : Build with Cake
2020-06-16T07:41:05.3316762Z Version      : 0.

[2020-06-16 11:23] leszekrogowski commented on #67
I'm experiencing the same problem. It's probably connected with the following notification from [https://www.nuget.org/downloads](https://www.nuget.org/downloads):

" NuGet.org will permanently remove support for TLS 1.0 and 1.1 on June 15th. Please ensure that your systems use TLS 1.2."

Maybe enabling TLS 1.2 on WebClient will resolve the issue.

[2020-06-16 11:26] PatrickKalkman commented on #67
Same issue here, having problems since today

[2020-06-16 11:48] JoaoDiogoF commented on #60
We have been experiencing this bug again since this morning:

[code]

We are having this issue again with Cake.AzureDevOps v0.4.4, is it possible that the same bug as in v0.4.2 snug it's way back in?
EDIT:
**Error was discovered, as of June 15th nuget does not support TLS 1.0 and 1.1.**

[2020-06-16 11:52] leszekrogowski commented on #67
One of the workarounds, before getting patch for it, is to add "NuGet Tool Installer" step, which will download NuGet correctly and will add it to PATH, and check "Use the Build Agent NuGet" checkbox in Advanced section of Cake Build step.

[2020-06-16 12:59] kapsiR commented on #67
Since there is no explicit selected version in the [script](https://github.com/cake-build/cake-vso/blob/ebc6db3375fae419e38e802be5e3f41579e80a57/Task/Cake.ps1#L58), you can use the following workaround/solution:

Update the default TLS version on the server to allow the operating system to choose the protocol:
[Transport Layer Security (TLS) best practices with the .NET Framework - SystemDefaultTl

[2020-06-16 13:02] kapsiR commented on #60
@JoaoDiogoF For reference, there is a [new issue](https://github.com/cake-build/cake-vso/issues/67) because of the removal of TLS1.X.

I've also [added a workaround](https://github.com/cake-build/cake-vso/issues/67#issuecomment-644746732), when you are in full control of the machine.

[2020-06-16 14:54] sundar85 commented on #67
Or you can also use these commands as mentioned by Azure DevOps, if you're using self-hosted azure devops agents.

https://devblogs.microsoft.com/devops/azure-devops-services-to-require-tls-1-2/

New-ItemProperty -Path 'HKLM:\SOFTWARE\Microsoft\.NETFramework\v4.0.30319' -Name SchUseStrongCrypto -Value 1 -PropertyType 'Dword' -Force | Out-Null

New-ItemProperty -Path 'HKLM:\SOFTWARE\Microsoft\.NETF

[2020-07-15 12:32] umesawan commented on #60
TLS 1.2 should be enabled to get it working. In PowerShell you can find out which protocols your system supports by running this code:

[Enum]::GetNames([Net.SecurityProtocolType]) -contains 'Tls12'
If the result is True then your system supports TLS 1.2. You can find out which protocols are being used by running:

[System.Net.ServicePointManager]::SecurityProtocol.HasFlag([Net.SecurityProtocolTyp

[2020-08-10 19:13] #63 closed

[2020-08-10 20:54] #14 closed

[2020-08-10 20:55] #43 closed

[2020-08-10 21:03] gep13 opened #68 "Don't include VstsTaskSdk in vsix"
These files are no longer required, since we are switching to a cross platform build task.

[2020-08-12 19:23] #68 closed

[2020-08-12 19:39] gep13 commented on #67
@medekjak @leszekrogowski @PatrickKalkman @kapsiR @sundar85 We have released a new version of this Task, which uses Node execution, rather than PowerShell, and which uses the Cake .Net Global Tool.  Can any of you confirm that this is still an issue using this version?  Thanks

[2020-08-12 19:41] gep13 commented on #46
@richardgavel we have recently released a new cross platform version of the Cake Task, and I would like to tackle this task next.  Do you happen to know of any documentation around how this works under the hood?  Thanks

[2020-08-13 09:36] #46 closed

[2020-08-14 07:37] kapsiR commented on #67
@gep13 Yes, I can confirm the fix for the new pipeline task version `2.*`.

[2020-08-14 07:45] gep13 commented on #67
@kapsiR that is great! Thank you for confirming!  I will go ahead and close out this issue.

[2020-08-14 07:45] #67 closed

[2021-07-06 14:09] Kontekst opened #70 "Logging in Release adds additional characters"
Cake logging commands using interpolation arguments are adding additional characters in AzDevOps output during release.
Similar characters are sometimes added for default information printed on start/end of task (like "Executing task..", "Finished executing task...").

![image](https://user-images.githubusercontent.com/20931525/124613481-90fc6f00-de73-11eb-87be-466a14175a5f.png)

I ran below Cake

[2021-07-06 18:34] Kontekst commented on #70
I have created example public repo and pipeline with Minimal, Reproducible Example

test.cake
https://dev.azure.com/tomaszkontek/FeaturesTesting/_git/CakeVerbosityOutput?path=%2Ftest.cake

release with corrupted output
https://dev.azure.com/tomaszkontek/FeaturesTesting/_releaseProgress?_a=release-pipeline-progress&releaseId=2

[2021-09-16 20:54] nils-a opened #71 "Add support for installing Cake using tool manifest"
Same as https://github.com/cake-build/cake-action/issues/26:

[2021-11-29 22:28] JuergenRB opened #72 "Updating Node in the Azure Pipelines agent"
As Microsoft explains [here ](https://docs.microsoft.com/en-us/azure/devops/release-notes/2020/pipelines/sprint-177-update#updating-node-in-the-azure-pipelines-agent) the pipelines are being moved to Node 10. The hints in the pipeline also already appear.

![image](https://user-images.githubusercontent.com/22403655/143952587-a86bb5c8-b685-46c9-9062-2a5a019e59bb.png)

A guide for the changeover can

[2021-12-29 00:12] nils-a commented on #70
This is due to the fact that Azure DevOps supports colorization in the output using ANSI escape codes. Cake (or rather the underlying [spectre.console](https://spectreconsole.net/)) detects this and uses these codes to colorize the output.

However, in the downloaded logs which are (naturally) text-only, these escape codes appear as you highlighted above.
I would suggest having a look at [Cake.Bui

[2021-12-29 00:23] nils-a opened #74 "tool path setting in `cake.config` is ignored."
### What You Are Seeing?

I have a repository, containing a `cake.config` file with the content:

[code]

### What is Expected?

I would expect the `cake.config` to be honored and `.cake` as the folder for tools to be used.

### What version of Cake are you using?

2.1.0

### Are you running on a 32 or 64 bit system?

64 bit.

### What environment are you running on?  Hosted? Custom?

Hosted.

###

[2022-02-28 09:39] mitoihs commented on #72
Could someone merge-capable merge it? @gep13 could you please?

[2022-04-24 15:20] Kontekst commented on #70
I have fixed this behavior by setting 'NO_COLOR' environment variable on agent host.
https://cakebuild.net/docs/running-builds/configuration/default-configuration-values#disable-colors-in-output-text

I think this issue can be closed.

[2022-04-24 15:20] #70 closed